[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jinja2 = "*"
pyyaml = "*"
boto = "*"
boto3 = "*"
nested-dict = "*"
nose = "*"
psutil = "*"
pytest = "*"
pytest-xdist = "*"
python-dateutil = "*"
requests = "*"
simplejson = "*"
six = "*"
slacker = "*"
urllib3 = "*"
black = "*"
flake8 = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
