astroid==3.3.9 ; python_version >= "3.9" and python_version < "4.0"
black==24.10.0 ; python_version >= "3.9" and python_version < "4.0"
boto3==1.38.6 ; python_version >= "3.9" and python_version < "4.0"
boto==2.49.0 ; python_version >= "3.9" and python_version < "4.0"
botocore==1.38.6 ; python_version >= "3.9" and python_version < "4.0"
certifi==2025.4.26 ; python_version >= "3.9" and python_version < "4.0"
charset-normalizer==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.8 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and (sys_platform == "win32" or platform_system == "Windows")
dill==0.4.0 ; python_version >= "3.9" and python_version < "4.0"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
execnet==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
flake8==7.2.0 ; python_version >= "3.9" and python_version < "4.0"
idna==3.10 ; python_version >= "3.9" and python_version < "4.0"
iniconfig==2.1.0 ; python_version >= "3.9" and python_version < "4.0"
isort==6.0.1 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.9" and python_version < "4.0"
jmespath==1.0.1 ; python_version >= "3.9" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.9" and python_version < "4.0"
mccabe==0.7.0 ; python_version >= "3.9" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.9" and python_version < "4.0"
mypy-extensions==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
nested-dict==1.61 ; python_version >= "3.9" and python_version < "4.0"
nose==1.3.7 ; python_version >= "3.9" and python_version < "4.0"
numpy==2.0.2 ; python_version == "3.9"
numpy==2.2.5 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.9" and python_version < "4.0"
pandas==2.2.3 ; python_version >= "3.9" and python_version < "4.0"
pathspec==0.12.1 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==4.3.7 ; python_version >= "3.9" and python_version < "4.0"
pluggy==1.5.0 ; python_version >= "3.9" and python_version < "4.0"
psutil==5.9.8 ; python_version >= "3.9" and python_version < "4.0"
pycodestyle==2.13.0 ; python_version >= "3.9" and python_version < "4.0"
pyflakes==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.9" and python_version < "4.0"
pylint==3.3.6 ; python_version >= "3.9" and python_version < "4.0"
pytest-xdist==3.6.1 ; python_version >= "3.9" and python_version < "4.0"
pytest==8.3.5 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
pytz==2025.2 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0.2 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
rich==13.9.4 ; python_version >= "3.9" and python_version < "4.0"
s3transfer==0.12.0 ; python_version >= "3.9" and python_version < "4.0"
simplejson==3.20.1 ; python_version >= "3.9" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.9" and python_version < "4.0"
slacker==0.14.0 ; python_version >= "3.9" and python_version < "4.0"
tomli==2.2.1 ; python_version >= "3.9" and python_version < "3.11"
tomlkit==0.13.2 ; python_version >= "3.9" and python_version < "4.0"
typing-extensions==4.13.2 ; python_version >= "3.9" and python_version < "3.11"
tzdata==2025.2 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.20 ; python_version >= "3.9" and python_version < "4.0"
